---
import { Image } from "astro:assets";
import binusITDiv from "../../assets/Binus IT Division.jpg"

const tasks = [
  "Played a full stack role in the project team managing external projects, contributing to the development of platforms owned by the Ministry of Education and Culture.",
  "Developed and delivered 10+ scalable and maintainable web features, enhancing system reliability and user experience.",
  "Developed open APIs to enhance accessibility and integration capabilities, enabling seamless connectivity for external applications and services.",
  "Diagnosed and resolved critical bugs, collaborating with the development team to enhance platform functionality and reduce error rates."
]
---

<article>
  <header class="flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center mb-5">
    <div class="flex items-center gap-5">
        <Image class="rounded-md w-20 xs:w-24" src={binusITDiv} alt="Binus IT Division" />
        <div>
            <h1 class="font-bold text-lg xs:text-xl">Associate Software Developer</h1>
            <p class="font-medium">Bina Nusantara IT Division | Contract</p>
        </div>
    </div>
    <p class="font-medium text-lg mb-5 lg:mb-0">March 2023 - February 2024</p>
  </header>
  <div class="font-medium space-y-3">
    {tasks.map((task) => 
      <div class="flex gap-2 text-lg">
        <p>•</p>
        <p>{task}</p>
      </div>
    )}
  </div>
</article>