---
import ExpBlibli from "./ExpBlibli.astro"
import ExpBinusITDiv from "./ExpBinusITDiv.astro"
import ExpMentor from "./ExpMentor.astro"
---

<section class="mb-20 sm:mx-10 lg:mx-20" id="experiences">
    <h1 class="font-bold text-center text-3xl sm:text-start lg:text-4xl py-5">💼 Experiences</h1>
    <div class="space-y-7">
        <div class="bg-blue-100 border-2 border-blue-100 h-auto rounded-md p-8 hover:border-blue-500 transition">
            <ExpBlibli />
        </div>
        <div class="bg-purple-100 border-2 border-purple-100 h-auto rounded-md p-8 hover:border-purple-500 transition">
            <ExpBinusITDiv />
        </div>
        <div class="bg-green-100 border-2 border-green-100 h-auto rounded-md p-8 hover:border-green-500 transition">
            <ExpMentor />
        </div>
    </div>
</section>