---
import IconEmail from "./icons/IconEmail.astro"
import IconLinkedin from "./icons/IconLinkedin.astro"
import IconGithub from "./icons/IconGithub.astro"
---

<section class="flex justify-between items-center mt-20 py-5">
    <h1 class="font-semibold">Made by Marco Vito Christopher</h1>
    <div class="flex gap-4">
        <a href="mailto:marcovito.chr@gmail.com" target="_blank"><IconEmail /></a>
        <a href="https://www.linkedin.com/in/marcovitochristopher/" target="_blank"><IconLinkedin /></a>
        <a href="https://github.com/MarcoVitoC" target="_blank"><IconGithub /></a>
    </div>
</section>