---
import EmailIcon from "./icons/EmailIcon.astro"
import LinkedinIcon from "./icons/LinkedinIcon.astro"
import GithubIcon from "./icons/GithubIcon.astro"
---

<section class="h-screen flex justify-center items-center" id="hero">
	<div>
        <h1 class="text-2xl">Hey there, I'm Marco 👋</h1>
        <p class="text-6xl">A software engineer.</p>
        <div class="flex justify-end gap-4 my-4">
            <a href="mailto:marcovito.chr@gmail.com" target="_blank"><EmailIcon /></a>
            <a href="https://www.linkedin.com/in/marcovitochristopher/" target="_blank"><LinkedinIcon /></a>
            <a href="https://github.com/MarcoVitoC" target="_blank"><GithubIcon /></a>
        </div>
    </div>
</section>
