---
import IconEmail from "./icons/IconEmail.astro"
import IconLinkedin from "./icons/IconLinkedin.astro"
import IconGithub from "./icons/IconGithub.astro"
---

<section class="h-screen flex justify-center items-center" id="hero">
	<div>
        <h1 class="text-xl">Hey there 👋, I'm Marco</h1>
        <p class="text-6xl">A software engineer.</p>
        <div class="flex justify-end gap-4 my-4">
            <a href="mailto:marcovito.chr@gmail.com" target="_blank"><IconEmail /></a>
            <a href="https://www.linkedin.com/in/marcovitochristopher/" target="_blank"><IconLinkedin /></a>
            <a href="https://github.com/MarcoVitoC" target="_blank"><IconGithub /></a>
        </div>
    </div>
</section>
