<nav class="sticky top-8 flex justify-center">
    <div class="bg-white absolute space-x-15 py-3 px-8 outline-solid rounded-full">
        <a href="#projects" class="font-medium">Projects</a>
        <a href="#work-experiences" class="font-medium">Work Experiences</a>
        <a href="#contact-me" class="font-medium">Contact Me</a>
    </div>
</nav>