<nav class="absolute w-full flex justify-center">
    <div class="gap-5 m-5 p-5 outline-solid rounded-full space-x-15">
        <a href="#projects" class="font-medium">Projects</a>
        <a href="#work-experiences" class="font-medium">Work Experiences</a>
        <a href="#contact-me" class="font-medium">Contact Me</a>
    </div>
</nav>