<nav class="sticky top-6 flex justify-center">
    <div class="bg-white absolute space-x-15 py-2 px-6 border-2 border-gray-200 rounded-full">
        <a href="#hello" class="font-semibold text-base">Hello</a>
        <a href="#projects" class="font-semibold text-base">Projects</a>
        <a href="#work-experiences" class="font-semibold text-base">Work Experiences</a>
    </div>
</nav>