<nav class="sticky top-6 flex justify-center">
    <div class="bg-white absolute space-x-15 py-2 px-6 outline-solid rounded-full">
        <a href="#projects" class="font-medium text-sm">Projects</a>
        <a href="#work-experiences" class="font-medium text-sm">Work Experiences</a>
        <a href="#contact-me" class="font-medium text-sm">Contact Me</a>
    </div>
</nav>