<section id="projects">
    <h1 class="font-bold text-3xl py-3">🚀 Projects</h1>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit aperiam nemo? Dolorem facilis a rem praesentium voluptatibus doloribus animi dolore necessitatibus dolores, qui minus inventore dignissimos porro harum vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta soluta beatae repellat provident voluptate laborum minus aperiam cupiditate possimus quidem officiis repellendus assumenda accusantium corporis blanditiis necessitatibus laboriosam, id repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas delectus tempora asperiores, laborum iure voluptas omnis possimus laboriosam dolores totam ab sunt voluptates quia inventore sit? Accusantium amet alias rem! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia quidem quos libero nihil dicta illo laudantium, obcaecati, consequuntur molestiae esse distinctio officia. Non explicabo reprehenderit facilis, vel cum quos!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corporis libero repellendus eligendi recusandae, placeat, beatae sequi dolorem aspernatur odit saepe ipsam? Praesentium nobis, quae repudiandae laboriosam nihil eius quis?
    </div>
</section>